body {
    font-family: Arial, sans-serif;
}

  
nav {
    margin-bottom: 20px;
}

  
form {
    display: flex;
    flex-direction: column;
    width: 300px;
    gap: 10px; 
}

  
form button {
    width: fit-content;
}

form {
    margin-top: 20px;
}

  
input {
    padding: 5px;
}

button {
    padding: 5px 10px;
    cursor: pointer;
}
